table{
    width: 70%;
    table-layout: fixed;
    background-color: aliceblue;
    color:black;
    border: 3px solid cadetblue;
    font-size: 1.5em
}
td,tr{
    border: 2px solid cadetblue;
    padding: 0.5em;
}